﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lightgoldenrodyellow;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2{
    text-align:center;
    color:saddlebrown;
}
.fizz{
    color:dodgerblue;
}

.buzz{
    color:forestgreen;
}

.field-validation-error{
    color:red;
}